<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="container">
        <h1>API Practice</h1>
        <p>
            After a long time, I am practicing the basic CRUD operations of an API.
        </p>
        <ol>
            <li><strong>GET</strong> → Used to <em>read or fetch</em> data from the server.</li>
            <li><strong>POST</strong> → Used to <em>create new</em> data on the server.</li>
            <li><strong>PUT</strong> → Used to <em>update or replace</em> existing data.</li>
            <li><strong>DELETE</strong> → Used to <em>remove</em> data from the server.</li>
        </ol>
    </div>
</body>

</html>